<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/home.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.js"></script>

<body>
  <div class="home-container">
    <!-- Full-screen background video -->
    <video class="background-video" autoplay muted loop playsinline>
      <source src="/img/hotel-video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <!-- Centered login/register buttons -->
    <div class="login-wrapper">
      <% if (!member) { %>
        <a href="/admin/login" class="login-button">Login</a>
        <a href="/admin/signup" class="login-button">Sign Up</a>
      <% } else { %>
        <a href="/admin/furniture/all" class="login-button">Furnitures</a>
        <a href="/admin/user/all" class="login-button">Users</a>
        <a href="/admin/logout" class="login-button" onclick="return confirm('Do you want to logout?')">Logout</a>
      <% } %>
    </div>
  </div>

  <script type="text/javascript" src="/js/home.js"></script>
</body>
<%- include('includes/footer') %>
